.upload-photos-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 120px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #111;
}

.title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.photo-instructions h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 12px;
}

.instructions-box {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 32px;
}

.instructions-box p {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.section-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.upload-section {
  border-top: 1px solid #ccc;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.toggle-icon {
  font-size: 18px;
  font-weight: 400;
}

.photo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 20px;
  padding: 16px;
}


.photo-preview {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 0;
  border: 1px solid #ccc;
}

.add-photo-button {
  background-color: white;
  border: 1px solid #000;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  height: 120px;
  width: 100px;
  justify-content: center;
}

.add-photo-button:hover {
  background-color: #f0f0f0;
}

.remove-photo {
  border: none;
  background: none;
  color: #999;
  font-size: 18px;
  cursor: pointer;
  margin-left: -12px;
  margin-right: -8px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.back-button,
.submit-button {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.back-button {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
}

.submit-button {
  background-color: #ddd;
  color: #333;
}

.submit-enabled {
  background-color: #15803d; /* Tailwind's green-700 */
  color: white;
}

.submit-enabled:hover {
  background-color: #14532d; /* Tailwind's green-900 */
}

.back-button:hover {
  background-color: #e5e5e5; /* Tailwind's gray-300 */
}